/*
 Theme Name: Hello Elementor Child
 Theme URI: https://example.com/
 Description: Child theme for Hello Elementor.
 Author: hj
 Author URI: https://example.com/
 Template: hello-elementor
 Version: 1.0.0
 Text Domain: hello-elementor-child
*/

/* Add your child theme styles below */
